* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: white;
    overflow-x: hidden;
    color: black;
}

/* ---------- TOP BANNER ---------- */
.top_banner {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0;
    font-size: 13px;
}

/* ---------- NAVBAR ---------- */
#navbar {

    width: 100%;
    background-color: white;
    position: relative;
    z-index: 100;
}

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

.nav_left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav_left i {
    font-size: 22px;
    cursor: pointer;
}

.nav_logo img {
    width: 80px;
}

.nav_menu {
    display: none;
}

.nav_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_links {
    display: none;
    list-style: none;
    gap: 20px;
}

.nav_links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav_links a:hover {
    text-decoration: underline;
}


.cart_icon {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}


/* ------------------------------footer------------------------------------------------ */

/* ---------------------------return and exchange------------------- */

.container-fluid {
    height: 300px;
    position: relative;
}

.container {
    position: absolute;
    top: 30%;
    left: 2%
}

.last_footer {
    background-color: #fff;
    padding: 30px;
    border-top: 1px solid #ddd;
}

.last_footer h6 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.last_footer p,
.last_footer a {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
}

.last_footer a {
    text-decoration: none;
}

.footer-section {
    margin-bottom: 20px;
}

.social-icons a {
    margin: 5px;
    font-size: 18px;
    color: #333;
}

.payment-icons img {
    width: 40px;
    margin: 0 5px;
}

.selectors {
    margin-top: 20px;
}

.last_footer .row {
    display: block;
    text-align: center;
}

.last_footer .col-12 {
    margin-bottom: 20px;
}

.social-icons {
    margin-top: 10px;
}

.selectors {
    margin-top: 20px;
}

.footer-terms {
    margin-top: 20px;
}

.payment-icons img {
    width: 30px;
}

#country, #language{
    padding: 5px;
}


/* --------- MEDIA QUERY: LAPTOP VIEW --------- */
@media only screen and (min-width:1200px) {
    .nav_container {
        justify-content: center;
        padding: 20px 80px;
    }

    .nav_left {
        display: none;
    }

    .nav_logo {
        position: absolute;
        left: 50px;
    }

    .nav_menu {
        display: block;
    }

    .nav_menu ul {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        left: 170px;
        top: 10px;
        gap: 40px;
        list-style: none;
    }

    .nav_menu a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    .nav_menu a:hover {
        text-decoration: underline;
    }

    .nav_right {
        position: absolute;
        right: 50px;
    }

    .nav_links {
        display: flex;

    }

    .cart_icon {
        margin-left: 15px;
    }


    /* ----------------------------------footer--------------------------------- */

    .container {
        position: absolute;
        top: 30%;
        left: 9%
    }


    .last_footer .row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .last_footer .col-xl-3,
    .last_footer .col-xl-2 {
        flex: 1;
    }

    .last_footer .social-icons {
        display: flex;
        justify-content: start;
    }

    .last_footer .selectors {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .payment-icons img {
        width: 45px;
    }

}